# Environment variables example
DEBUG=false
REDIS_HOST=localhost
REDIS_PORT=6379
DATABASE_URL=sqlite:///./aegis.db
API_HOST=0.0.0.0
API_PORT=8000

MONGODB_URL=
DB_NAME=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=